# ============ СЕКРЕТЫ ============
GROQ_API_KEY=
WEATHER_API_KEY=

# ============ AI ============
AI_BASE_URL=https://api.groq.com/openai/v1
AI_MODEL=openai/gpt-oss-120b

# ============ FIREBASE / KIMOGRAM ============
FIREBASE_DATABASE_URL=
KIMOGRAM_URL=https://kimogram.pro
VIBECONNECTER_URL=https://vibeconnecter.gt.tc
SPOTIFY_URL=https://open.spotify.com
GROQ_URL=https://groq.com/
KIMOWORLD_URL=https://kimoworld.yhub.net/

# ============ НАСТРОЙКИ ============
LANGUAGE=ru-RU
DEFAULT_CITY=Москва
USER_NAME=Программист